.footer1 {
    width: 100%;
    text-align: left;
    padding: 10px 0;
}
.footer {
    width: 100%;
    text-align: center;
    padding: 10px 0;
}
.footer2 {
    width: 100%;
    text-align: center;
    padding: 100px 0;
}

.footer h4 {
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 20px;
}

.footer a {
    text-decoration: none;
    color: #949fdf;
    font-weight: 600;
}

.footer a:hover {
    color: #24f8c7;
}

.icons .fab {
    color: #5236f4;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

.icons .fab:hover{
    color: #24f8c7;
}

.fa-heart {
    color: #24f8c7;
}

hr {
    border: 0.01px solid #7777772a;
}