

<section class="Sub-header">
    <nav>
        <img src="img/smart.gif" alt="logo" style="width: 250px;height:150px ;">
        <div class="nav-links" id="navLinks">
            
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index1.html">HOME</a></li>
                <li><a routerLink="/admin">HISTORICAL</a></li>
                <li><a href="index3.html">DATABASE</a></li>
                <li><a href="index4.html">ADDITION</a></li>
               
                <li><a href="#">Contact</a></li>
        
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
          
    </nav>
    
</section> 


