<section class="Sub-header">
    <nav>
        <img src="img/smart.gif" alt="logo" style="width: 250px;height:150px ;">
        <div class="nav-links" id="navLinks">
            <!-- reposnive bar open and close -->
            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index1.html">HOME</a></li>
                <li><a routerLink="/admin">ADMIN</a></li>
                <li><a href="index3.html">ABOUT</a></li>
                <li><a href="index4.html">CONTACT</a></li>
        
            </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
        <!-- reposnive bar open and close -->
    </nav>
    
</section>