<div class="col-md-6 ">
    <!-- team left-->
    <div id="content-box-lg">
        <div class="vertical-heading">
            <h5>Who We Are</h5>
            <h2>Meet Our <br><strong>Talented</strong>Team</h2>
        </div>
            <div class="team-text">
                <p>Lorem ipsum dolor Consequuntur est alias consectetur officiis adipisci deserunt sit
                temporibus error, ullam voluptas tempore eos omnis eius reprehenderit rem? Tempore
                corporis aspernatur ipsam!</p>
            </div>

    </div>
    <div class="marg">
    </div>
    <div class="col-md-6">


    </div>

</div>