

<section class="Sub-header">
    <nav>
        <div class="imlogo">
            <img src="/assets/img/smart-scan.svg" >

        </div>


        <div class="nav-links" id="navLinks">


            <i class="fa fa-times" onclick="hideMenu()"></i>
            <ul>
                <li><a href="index1.html">HOME</a></li>

                <li><a href="index3.html">ABOUT</a></li>

                <li><a href="#">TEAM</a></li>
                <li><a href="index4.html">CONTACT</a></li>

            </ul>

         </div>





    </nav>
    <br><br><br>



        <div class=" container">
            <h6 class="text11">If you can't   <span class="scan">Scan</span> it..</h6>
             <span class="text22">You can't move in</span>


        </div>

</section>
<section>
    <!-- About page -->
    <div class="row">
        <!-- about left side-->
        <div class="col-md-6"  style="visibility: visible; animation-duration: 2s; animation-name: fadeInLeft;">
            <div id="about-left">
                <div class="vertical-heading">
                    <h5>Who We Are</h5>
                    <div class="us">
                        <h2>A <strong>Story</strong><br>About Us</h2>
                    </div>
                </div>
            </div>
        </div>
        <!-- about right side-->
        <div class="col-md-6"  >
            <div id="about-right">
                <p>Our project aims to Build an Intelligent QR Scanner to maintain
                    access control and organization which is becoming increasingly requested
                    in the management of several applications such as security,
                    management of inputs/outputs and supervision of specific sites.
                <p class="second-child">Indeed, this technology increases the level of existing quality in the world
                    of control and artificial intelligence.
                    It represents itself as a mixture between several fields</p>
            </div>
            <div id="about-bottom">
                <img src="#" class="img-fluid" alt="Project-img">
            </div>
        </div>
    </div>




    <!-- end About page -->

</section>
<div class="pad">

</div>
<section>


<!-- TEAM -->
<div class="col-md-6 ">
    <!-- team left-->
    <div id="content-box-lg">
        <div class="vertical-heading">
            <h5>Who We Are</h5>
            <h2>Meet Our <br><strong>Talented</strong>Team</h2>
        </div>
        <div class="team-text">
                <p>Lorem ipsum dolor Consequuntur est alias consectetur officiis adipisci deserunt sit
                temporibus error, ullam voluptas tempore eos omnis eius reprehenderit rem? Tempore
                corporis aspernatur ipsam!</p>
        </div>

    </div>
    <div class="marg">
    </div>
    <div class="col-md-6">


    </div>

</div>
</section>

<!-- Contact section -->
<app-contact></app-contact>






